<div class="main-wrapper home-one">
  <div id="navigation" class="menu-one">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand logo">
          <a href="#">
            <img class="img-responsive" src="images/logo.png" alt="Image">
          </a>
        </div>
      </div>

      <nav id="mainmenu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="scroll current dropdown">
            <a href="#home-banner">
              <span>
                <i class="fa fa-hand-peace-o" aria-hidden="true"></i>Home</span>
            </a>
          </li>
          <li class="scroll">
            <a href="#about">
              <span>
                <i class="fa fa-user" aria-hidden="true"></i>Profile</span>
            </a>
          </li>
          <li class="scroll">
            <a href="#skill">
              <span lang="fr">
                <i class="fa fa-sliders" aria-hidden="true"></i>Competences</span>
              <span lang="en">
                <i class="fa fa-sliders" aria-hidden="true"></i>Skills</span>
            </a>
          </li>
          <li class="scroll">
            <a href="#exprience">
              <span>
                <i class="fa fa-briefcase" aria-hidden="true"></i>Experiences</span>
            </a>
          </li>
          <li class="scroll">
            <a href="#education">
              <span>
                <i class="fa fa-leanpub" aria-hidden="true"></i>Education</span>
            </a>
          </li>
          <li class="scroll">
            <a href="#portfolio">
              <span lang="fr">
                <i class="fa fa-code" aria-hidden="true"></i>Projets</span>
              <span lang="en">
                <i class="fa fa-code" aria-hidden="true"></i>Projects</span>

            </a>
          </li>
          <li class="scroll">
            <a href="#events">
              <span lang="fr">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>Évènements</span>
              <span lang="en">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>Events</span>
            </a>
          </li>
          <li class="scroll">
            <a href="#contact">
              <span>
                <i class="fa fa-envelope" aria-hidden="true"></i>Contact</span>
            </a>
          </li>
          <li>
            <ul class="social list-inline" item-height="100">
              <li>
                <a href="https://www.linkedin.com/in/adrien-rich/" data-toggle="tooltip" data-placement="top"
                  title="Linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true" alt="Linkedin"></i>
                </a>
              </li>
              <li>

                <a href="https://github.com/Mrgove10" data-toggle="tooltip" data-placement="top" title="Github">
                  <i class="fa fa-github-alt" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://wakatime.com/@Adrien" data-toggle="tooltip" data-placement="top" title="WakaTime">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="Map_Advance.html" data-toggle="tooltip" data-placement="top" title="Map">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="http://testing.adrienrichard.com" data-toggle="tooltip" data-placement="top" title="Tests">
                  <i class="fa fa-flask" aria-hidden="true"></i>
                </a>
              </li>
              <li id="switch-lang-li">
                <button id="switch-lang" style="background-color: Transparent;
                                    background-repeat:no-repeat;
                                    border: none;
                                    cursor:pointer;
                                    overflow: hidden;
                                    outline:none;" data-toggle="tooltip" data-placement="top" title="Language">
                  <a lang="fr">
                    <i class="flag-icon flag-icon-gb"></i>
                  </a>
                  <a lang="en">
                    <i class="flag-icon flag-icon-fr"></i>
                  </a>
                </button>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <i class="fa fa-quote-right" aria-hidden="true"></i>
              <p style="font-size: x-small">
                <b>Shoot for the moon. Even if you miss, you'll land among the stars. </b>
                Norman Vincent Peale.
              </p>
            </span>
          </li>
        </ul>
      </nav>
    </div>
    <!-- navbar -->
  </div>
  <!-- navigation -->

  <router-outlet></router-outlet>

  <div id="footer">
    <div class="container">
      <div class="footer">
        <p> &copy; 2018
          <a href="#">Adrien RICHARD.</a> All Rights Reserved</p>
        <script>
          (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
          })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
          ga('create', 'UA-81747128-1', 'auto');
          ga('send', 'pageview');

        </script>
      </div>
    </div>
    <!-- contaner -->
  </div>
  <!-- footer -->
</div>
<!-- main wrapper -->