* {
    font-family: 'JBMono', 'open sans', sans-serif;
}

@font-face {
    font-family: 'JBMono';
    src: url('fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
    font-family: "JBMono";
    src: url("fonts/JetBrainsMono-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "JBMono";
    src: url("fonts/JetBrainsMono-Italic.woff") format('woff');
    font-style: italic;
}