@font-face {
  font-family: JBMONO;
  src: url(assets/fonts/JBMONO.woff2) format("woff2");
}

* {
  font-family: "JBMONO", monospace, sans-serif;
}

body {
  margin: 0 20%;
}

@media screen and (max-width: 1343px) {
  body {
    margin: 0 10%;
  }
}
