@font-face {
  font-family: JBMONO;
  src: url(assets/fonts/JBMONO.woff2) format("woff2");
}

* {
  font-family: "JBMONO", monospace, sans-serif;
}

body {
  margin: 0 20%;
}

@media screen and (max-width: 1343px) {
  body {
    margin: 0 10%;
  }
}

@media print
{    
  body {
    margin: 0;
    /* transform: scale(.7); */
    font-size: 12px;
  } 
  .no-print, .no-print *
  {
    display: none !important;
  }
  .print-only{
    display: block;
  }  
}

.print-only{
  display: none;
} 