#date {
  display: inline;
}

.logocomp {
  width: 150px;
  max-width: 150px;
  height: auto;
  margin: 10px;
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 50px;
  color: rgb(25, 25, 25);
}

#socials a {
  color: inherit;
  margin: 20px;
}

.tightText {
  margin-bottom: 5px;
  margin-top: 5px;
}

.work-experience {
  margin-left: 10px;
}

.work-experience-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}

.work-experience-project div:first-child {
  width: 70%;
}

.work-experience-project div:nth-of-type(2) {
  width: 25%;
}
