<button class="no-print" (click)="changeToFR()">Francais</button>
<button class="no-print" (click)="changeToEN()">English</button>
<button onclick="javascript:print()" class="no-print">
  {{ 'download' | translate }}
</button>
<h1>Adrien Richard</h1>
<p>
  Some people call me a developper other call me a nerd. Both are correct, I am
  interested in most things related to computers and tech in general. I also
  love learning by doing, hence why my
  <a routerLink="/projects">personal project list is quite long</a>.
  <br />
  For the web I would say I am more of a back end guy (i'm sure you can see with
  this website that front end is not my strong point, but if needed I can do
  it).
  <br />
  In general I love tinkering, making things, I love electronics and IOT devices
  I have created a few that I use daily.
</p>

<!---->
<div id="socials" class="no-print">
  <span *ngFor="let soc of socials">
    <a href="{{ soc.link }}"><i class="{{ soc.icon }}"></i></a>
  </span>
</div>

<div class="print-only">
  <ul>
    <li *ngFor="let soc of socials">
      <a href="{{ soc.link }}">{{ soc.link }}</a>
    </li>
  </ul>
</div>

<!---->
<h2 class="no-print">{{'title.projects'|translate}}</h2>
<h3 class="no-print">Too much to list here, <a routerLink="/projects">click me</a></h3>
<hr />

<!---->
<h2>{{'title.work'|translate}}</h2>
<div *ngFor="let w of work" class="work-experience-section">
  <a href="{{ w.compagnyWebsite }}" target="_blank">
    <img class="logocomp" src="assets/images/jobs/{{ w.imageName }}" />
  </a>
  <div class="work-experience">
    <h3>{{ w.title }}</h3>
    <small class="date">{{ w.startDate }} - {{ w.endDate }}</small>
    <p>{{ w.description }}</p>

    <div class="work-experience-project">
      <div *ngIf="w.missions">
        <h4>{{'mainmission'|translate}}Main missions :</h4>
        <ul>
          <li *ngFor="let mis of w.missions">{{ mis }}</li>
        </ul>
      </div>
      <div *ngIf="w.tech">
        <h4>{{'techused'|translate}}</h4>
        <ul>
          <li *ngFor="let te of w.tech">{{ te }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr />

<!---->
<h2>{{'title.projects'|translate}}</h2>
<p>{{'projectsmall'|translate}}</p>
<p class="print-only">Find them all at adrienrichard.com/projects</p>
<ul>
  <li *ngFor="let proj of projects">
    <a routerLink="/projects">
      {{ proj.name }}
    </a>
  </li>
</ul>
<hr />

<!---->
<h2 class="no-print">{{'title.events'|translate}}</h2>
<p class="no-print">{{'eventbeforecovid'|translate}}</p>
<ul class="no-print">
  <li *ngFor="let evnt of events">
    {{ evnt.name }}<small>{{ evnt.location }}</small>
  </li>
</ul>
<hr class="no-print" />

<!---->
<div class="interests-skills">
  <div>
    <h2>{{'title.interests'|translate}}</h2>
    <p>{{'interestchat'|translate}}</p>
    <ul>
      <li *ngFor="let int of interests">{{ int }}</li>
    </ul>
  </div>
  <div>
    <h2>{{'title.skills'|translate}}</h2>
    <p>{{ 'progressbars' | translate}}</p>
    <div class="tab" style="display: flex">
      <div style="margin-right: 0px">
        <p class="tightText">═══════════════════════════</p>
        <p *ngFor="let sk of skills" class="tightText">{{ sk.name }}<br /></p>
        <p class="tightText">═══════════════════════════</p>
      </div>
      <div>
        <p class="tightText">╦══════════════════════╗</p>
        <p class="tightText" *ngFor="let sk of skills">
          {{ sk.levelstr }}
        </p>
        <p class="tightText">╩══════════════════════╝</p>
      </div>
    </div>
  </div>
</div>

<small>{{ 'lastupdate' | translate}} : {{lastUpdate}}</small>