<h1>Adrien Richard</h1>
<p>
    Some people call me a developper other call me a nerd. Both are correct, I am interested in most things related to
    computers and tech in general. I also love learning by doing, hence why my <a routerLink="/projects">personal
        project list is quite long</a>.
    <br />
    For the web I would say I am more of a back end guy (i'm sure you can see with this website that front end is not my
    strong point, but if needed I can do it).
    <br>
    In general I love tinkering, making things, I love electronics and IOT devices I have created a few that I use
    daily.
</p>

<!---->
<div id="socials">
    <span *ngFor="let soc of socials">
        <a href="{{soc.link}}"><i class="{{soc.icon}}"></i></a>
    </span>

</div>

<!---->
<h2>Personal Projects</h2>
<h3>Too much to list here, <a routerLink="/projects">click me</a></h3>
<hr>

<!---->
<h2>Work Experience</h2>
<div *ngFor="let w of work" style="display: flex;">
    <a href="{{w.compagnyWebsite}}" target="_blank">
        <img class="logocomp" src="assets/images/jobs/{{w.imageName}}" style="align-self: center;" />
    </a>
    <div class="work-experience">
        <h3>{{w.title}}</h3>
        <small class="date">{{w.startDate}} - {{w.endDate}}</small>
        <p>{{w.description}}</p>

        <div class="work-experience-project">
            <div *ngIf="w.missions">
                <h4>Main missions : </h4>
                <ul>
                    <li *ngFor="let mis of w.missions">{{mis}}</li>
                </ul>
            </div>
            <div *ngIf="w.tech">
                <h4>Tech used : </h4>
                <ul>
                    <li *ngFor="let te of w.tech">{{te}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>

<!---->
<h2>Events</h2>
<p>Before covid, I quite liked going to tech events</p>
<ul>
    <li *ngFor="let evnt of events">
        {{evnt.name}}<small>{{evnt.location}}</small>
    </li>
</ul>
<hr>

<!---->
<div style="display: flex; justify-content:space-evenly;">
    <div>
        <h2>Interests</h2>
        <p>Ill be so happy to chat about any of theses !</p>
        <ul>
            <li *ngFor="let int of interests">{{int}}</li>
        </ul>
    </div>
    <div>
        <h2>Skills</h2>
        <div style="display: flex;">
            <div style="margin-right: 0px;">
                <p class="tightText">═════════════════════════</p>
                <p *ngFor="let sk of skills" class="tightText">
                    {{sk.name}}<br>
                </p>
                <p class="tightText">═════════════════════════</p>
            </div>
            <div>
                <p class="tightText">╦══════════════════════╗</p>
                <p class="tightText" *ngFor="let sk of skills">
                    {{sk.levelstr}}
                </p>
                <p class="tightText">╩══════════════════════╝</p>
            </div>
        </div>
        <small>I know progress bars are not the best for skills but at least it's very visual.</small>
    </div>
</div>