#date {
  display: inline;
}

.logocomp {
  width: 150px;
  max-width: 150px;
  height: auto;
  margin: 10px;
}

#socials {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 75px;
}

#socials a {
  color: inherit;
  margin: 20px;
}

.tightText {
  margin-bottom: 5px;
  margin-top: 5px;
}
